In [9]:
import chart_studio.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

import pandas as pd
import numpy as np

init_notebook_mode(connected=True)

# CHOROPLETH US MAPS

In [10]:
data = dict(
    type='choropleth',
    locations=['AZ', 'CA', 'NY'],
    locationmode='USA-states',
    colorscale='Greens',
    text=['Arizona', 'California', 'New York'],
    z=[1.0, 2.0, 3.0],
    colorbar={'title': 'Colorbar Title'}
)

In [11]:
layout = dict(geo=dict(scope='usa'))

In [12]:
choromap = go.Figure(data=[data], layout=layout)

In [8]:
plot(choromap)

'temp-plot.html'

In [13]:
data = dict(
    type='choropleth',
    locations=['US', 'CA', 'BR'],
    locationmode='country names',
    colorscale='sunsetdark',
    text=['text1', 'text2', 'text3'],
    z=[1.0, 2.0, 3.0],
    colorbar={'title': 'Colorbar Title'}
)

layout = dict(geo={'scope':'world'})
choromap = go.Figure(data=[data], layout=layout)
plot(choromap)

'temp-plot.html'

# REAL DATA US MAP CHOROPLETH

In [14]:
df = pd.read_csv('2011_US_AGRI_Exports')
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

In [15]:
len(df)

50

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   code           50 non-null     object
 1   state          50 non-null     object
 2   category       50 non-null     object
 3   total exports  50 non-null     float64
 4   beef           50 non-null     float64
 5   pork           50 non-null     float64
 6   poultry        50 non-null     float64
 7   dairy          50 non-null     float64
 8   fruits fresh   50 non-null     float64
 9   fruits proc    50 non-null     float64
 10  total fruits   50 non-null     float64
 11  veggies fresh  50 non-null     float64
 12  veggies proc   50 non-null     float64
 13  total veggies  50 non-null     float64
 14  corn           50 non-null     float64
 15  wheat          50 non-null     float64
 16  cotton         50 non-null     float64
 17  text           50 non-null     object
dtypes: float64(14), object(4)
memory usage: 7.2+ KB

In [18]:
data = dict(type='choropleth',
            colorscale = 'Greens',
            locations = df['code'],
            z = df['total exports'],
            locationmode = 'USA-states',
            text = df['text'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Millions USD"}
            ) 

layout = dict(title='2011 US Agriculture Exports by State',
              geo=dict(scope='usa',
                        showlakes=True,
                        lakecolor='rgb(85,173,240)'))

choromap = go.Figure(data=[data], layout=layout)

plot(choromap)

'temp-plot.html'

# WORLD CHOROPLETH MAP

In [20]:
df_world = pd.read_csv('2014_World_GDP')
df_world.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [21]:
df_world.tail()

            COUNTRY  GDP (BILLIONS) CODE
217  Virgin Islands            5.08  VGB
218       West Bank            6.64  WBG
219           Yemen           45.45  YEM
220          Zambia           25.61  ZMB
221        Zimbabwe           13.74  ZWE

In [43]:
df_world.max()

COUNTRY           Zimbabwe
GDP (BILLIONS)     17420.0
CODE                   ZWE
dtype: object

In [44]:
df_world.min()

COUNTRY           Afghanistan
GDP (BILLIONS)           0.01
CODE                      ABW
dtype: object

In [45]:
df_world.mean()

<ipython-input-45-d4ad92f1c5c6>:1: FutureWarning:

Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

GDP (BILLIONS)    352.637162
dtype: float64

In [22]:
df_world.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [24]:
data_world = dict(
    type = 'choropleth',
    locations = df_world['CODE'],
    z = df_world['GDP (BILLIONS)'],
    text = df_world['COUNTRY'],
    colorbar = {'title': 'GDP in Billions USD'}
)

layout_world = dict(
    title = '2014 Global GDP',
    geo = dict(
        showframe = False,
        projection = {'type': 'natural earth'}
    )
)

choromap_world = go.Figure(data = [data_world], layout = layout_world)

plot(choromap_world)

'temp-plot.html'

# EXERCISES

In [25]:
import pandas as pd

df = pd.read_csv('2014_World_Power_Consumption')
df.head()

         Country  Power Consumption KWH                        Text
0          China           5.523000e+12     China 5,523,000,000,000
1  United States           3.832000e+12    United 3,832,000,000,000
2       European           2.771000e+12  European 2,771,000,000,000
3         Russia           1.065000e+12    Russia 1,065,000,000,000
4          Japan           9.210000e+11       Japan 921,000,000,000

In [26]:
# CREATE A CHOROPLETH PLOT OF THE POWER CONSUMPTION BY COUNTRY

In [31]:
data = dict(
    type = 'choropleth',
    locations = df['Country'],
    locationmode = 'country names',
    z = df['Power Consumption KWH'],
    text = df['Country'],
    colorbar = {'title': 'Power Consumption in KWH By Country'},
    # colorscale = 'Viridis',
    # reversescale = True,    
)

layout = dict(
    title = '2014 Power Consumption in KWH by Country',
    geo = dict(
        showframe = False,
        projection = {'type': 'natural earth'}
    )
)

choromap = go.Figure(data = [data], layout = layout)

plot(choromap)

'temp-plot.html'

In [32]:
usdf = pd.read_csv('2012_Election_Data')
usdf.head()

,Year,ICPSR State Code,Alphanumeric State Code,State,VEP Total Ballots Counted,VEP Highest Office,VAP Highest Office,Total Ballots Counted,Highest Office,Voting-Eligible Population (VEP),Voting-Age Population (VAP),% Non-citizen,Prison,Probation,Parole,Total Ineligible Felon,State Abv
0,2012,41,1,Alabama,NaN,58.6%,56.0%,NaN,"2,074,338","3,539,217",3707440.0,2.6%,"32,232","57,993","8,616","71,584",AL
1,2012,81,2,Alaska,58.9%,58.7%,55.3%,"301,694","300,495","511,792",543763.0,3.8%,"5,633","7,173","1,882","11,317",AK
2,2012,61,3,Arizona,53.0%,52.6%,46.5%,"2,323,579","2,306,559","4,387,900",4959270.0,9.9%,"35,188","72,452","7,460","81,048",AZ
3,2012,42,4,Arkansas,51.1%,50.7%,47.7%,"1,078,548","1,069,468","2,109,847",2242740.0,3.5%,"14,471","30,122","23,372","53,808",AR
4,2012,71,5,California,55.7%,55.1%,45.1%,"13,202,158","13,038,547","23,681,837",28913129.0,17.4%,"119,455",0,"89,287","208,742",CA

In [ ]:
# CREATE A PLOT THAT DISPLAYS THE VOTING AGE POPULATION PER STATE.

In [36]:
data = dict(
    type = 'choropleth',
    colorscale = 'Viridis',
    reversescale = True,    
    locations = usdf['State Abv'],
    z = usdf['Voting-Age Population (VAP)'],
    locationmode = 'USA-states',
    text = usdf['State'],
    marker = dict(line=dict(color='rgb(180,180,180)', width=0.5)),
    colorbar = {'title': 'US Voting Age Population by State'},
)

layout = dict(
    title = '2012 Voting Age Population',
    geo = dict(
        scope= 'north america', showlakes= True, lakecolor = 'rgb(255, 255, 255)',
        projection = {'type': 'natural earth'}
    )
)

choromap = go.Figure(data = [data], layout = layout)

plot(choromap)

'temp-plot.html'